
html{
    font-size: 62.5%;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: bisque;
}.counter{
text-align: center;
font-size: 50px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    /* background-color: aqua; */
border-radius: 20px;
 
margin: 0vw 29vw 0vw 29vw;}


.zero {
    font-size: 39vh;
    text-align: center;

    color: black;

    margin: 8vh 36vw 0vh 36vw;
    background-color: orange;

    border: 3px solid red;
    border-radius: 23px;}

/* }
.bt {
    
    display:  inline-block;
}
.btn1 {
    display: inline-block;
    /* margin: 3vw 3vw 3vw 29vw; */
    /* font-size: 56px;
    height: 78px;
    background-color: #00cfff63;;

    border: 4px solid black;
    border-radius: 16px;
    width: 78px;
    border-style: groove; */

/* .bt2 {
    display: inline-block;
    position: absolute;
    margin-top: 76px;
}.btn2 {
    display: inline-block; */
    /* margin: 5vw 3vw 3vw 6vw; */
    /* font-size: 31px;
    height: 74px;
    background-color: #00cfff63;;

    border: 4px solid black;
    border-radius: 16px;
    width: 112px;
    border-style: groove;
} */
/* .btn3 {
    display: inline-block;
    /* margin:8vw 3vw 3vw 24vw; */
    /* font-size: 56px;
    height: 78px;
    background-color: #00cfff63;;

    border: 4px solid black;
    border-radius: 16px;
    width: 78px;
    border-style: groove;
} */
.symbols {
    margin: 3vw 0vw 0px 39.6vw;
    
 }
 .btn{
    display: inline-block;}
.plus {
    display: inline-block;
    font-size: 8vh;
    background-color: #ff0000de;
    border: 2px solid black;
    border-radius: 12px;
    height: 11vh;
    width: 4vw;
    text-align: center;
    border: 3px solid #ab0e0e;
 }

 .reset{
    display: inline-block;
    font-size: 5vh;
    background-color: #ff0000de;
    border: 2px solid #ab0e0e;
    border-radius: 12px;
    height: 9vh;
    width: 7vw;
    text-align: center;
    padding-top: 0em;
    margin: 0px 28px;
    border: 3px solid #ab0e0e;
 }

 .minus {
    display: inline-block;
    font-size: 8vh;
    background-color: #ff0000de;
    border: 2px solid black;
    border-radius: 12px;
    height: 10vh;
    width: 4vw;
    text-align: center;
    border: 3px solid #ab0e0e;

 }
 @media screen and (max-width:1000px) {
    .symbols {
        margin: 8vw 6vw 0px 16.6vw;
        
     }
     .btn{
        display: inline-block;
     }
    .zero{
        font-size: 23vh;
text-align: center;
color: white;
margin: 9vh 16vw 0vh 20vw;
background-color: orange;
border: 3px solid red;
border-radius: 23px;
height: 26vh;
    }
    .plus{
        display: inline-block;
        font-size: 6vh;
        background-color: #ff0000de;
        border: 2px solid black;
        border-radius: 12px;
        height: 7vh;
        width: 17vw;
        text-align: center;
        border: 3px solid #ab0e0e;
    }
    .reset{
    display: inline-block;
font-size: 4vh;
background-color: #ff0000de;
border: 2px solid #ab0e0e;
border-radius: 12px;
height: 7vh;
width: 26vw;
text-align: center;
padding: 6px 0px 1px 0px;
margin: 0px 20px;
border: 3px solid #ab0e0e;
    }
   .minus{
    display: inline-block;
font-size: 6vh;
background-color: #ff0000de;
border: 3px solid #ab0e0e;
border-radius: 12px;
height: 7vh;
width: 16vw;
text-align: center;   
   }
    
}
